@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

#topBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 15px;
	left: 20px;
	margin: 0px;
	cursor: pointer;
}

#search
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 400;
	position: absolute;
	top: 12px;
	left: 400px;
	width: 800px;
	height: 50px;
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 2px solid white;
}

#search::placeholder
{
	color: white;
	opacity: 1;
}

#searchIcon
{
	position: absolute;
	top: 20px;
	left: 330px;
	width: 40px;
	height: 40px;
	-webkit-filter: invert(100%);
	cursor: pointer;
}

#login
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

.profilePicture
{
	position: absolute;
	top: 10px;
	right: 160px;
	width: 60px;
	height: 60px;
	margin: 0px;
	border-radius: 30px;
}

.topTier
{
	position: absolute;
	top: 10px;
	right: 240px;
	width: 60px;
	height: 60px;
	margin: 0px;
}

#nickname
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 320px;
	margin: 0px;
	height: 80px;
	text-align: right;
	cursor: pointer;
}

#logout
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

#topMenu
{
	position: absolute;
	top: 80px;
	background-color: #dcdcdc;
	width: 1920px;
	height: 200px;
	z-index: 10;
}

#myProfile
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 0px;
  	right: 75px;
  	cursor: pointer;
}

#myReview
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 50px;
  	right: 75px;
  	cursor: pointer;
}

#setting
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 100px;
  	right: 75px;
  	cursor: pointer;
}

#notification
{
  	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 50px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#classify
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 400px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#leaderboard
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 750px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#QnA
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 1100px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#write
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 1450px;
  	text-align: center;
	border-radius: 15px;
	background: #8080ff;
	color: white;
	padding: 2px;
	width: 400px;
	height: 20px;  
}

#content
{
	background-color: white;
	position: absolute;
	top: 160px;
	width: 1920px;
	height: auto;
}

#error
{
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

.noReviews
{
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

#leftTab
{
	margin-left: 60px;
}

.categoryTab
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 400;
	margin: 0px;
	cursor: pointer;
	float: left;
}

.categoryLine
{
	left: 50px;
	width: 1800px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.bestCategory
{
	position: relative;
	left: 50px;
	bottom: 0px;
	width: 1770px;
	height: 120px;
	margin: 0px;
	margin-bottom: 50px;
	border: 2px solid black;
}

.bestCategoryImage
{
	position: relative;
	top: 10px;
	left: 15px;
	width: 200px;
	height: 100px;
	margin: 0px;
}

.bestCategoryName
{
	position: relative;
	top: -75px;
	left: 250px;
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 36px;
	font-weight: 900;
	width: 600px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.bestCategoryAvgScore
{
	position: relative;
	top: -125px;
	left: 900px;
	font-family: 'Outfit', sans-serif;
  	font-size: 36px;
	font-weight: 900;
	width: 400px;
	margin: 0px;
}

.bestCategoryTotalReviews
{
	position: relative;
	top: -171px;
	left: 1300px;
	font-family: 'Outfit', sans-serif;
  	font-size: 36px;
	font-weight: 900;
	width: 400px;
	margin: 0px;
	text-align: right;
}

.bestCategoryTotalReviews2
{
	position: relative;
	top: -122px;
	left: 1300px;
	font-family: 'Outfit', sans-serif;
  	font-size: 36px;
	font-weight: 900;
	width: 400px;
	margin: 0px;
	text-align: right;
}

.bestReview
{
	position: relative;
	left: 50px;
	bottom: 0px;
	width: 1770px;
	height: 240px;
	margin: 0px;
	margin-bottom: 50px;
	border: 2px solid black;
}

.bestReviewImage
{
	position: relative;
	top: 20px;
	left: 30px;
	width: 360px;
	height: 180px;
	margin: 0px;
}

.bestReviewCategory
{
	position: relative;
	top: 10px;
	left: 50px;
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 18px;
	font-weight: 900;
	width: 1200px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewTitle
{
	position: relative;
	top: -175px;
	left: 420px;
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 32px;
	font-weight: 900;
	width: 800px;
	margin: 0px;
	cursor: pointer;
}

.bestReviewContent
{
	position: relative;
	top: -160px;
	left: 420px;
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 400;
	width: 800px;
	height: 104px;
	margin: 0px;
	
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-line-clamp: 3;
  	word-wrap: break-word; 
}

.bestReviewAvgScore
{
	font-family: 'Outfit', sans-serif;
  	font-size: 32px;
	font-weight: 900;
  	position: relative;
  	top: -340px;
  	left: 1320px;
  	width: 400px;
  	text-align: center;
	color: black;
	margin: 0px;
}

.bestReviewTag1
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: relative;
  	top: -310px;
  	left: 1300px;
  	text-align: center;
	border-radius: 15px;
	background: #1abc9c;
	color: white;
	padding: 2px;
	width: 120px;
	height: 20px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewTag2
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: relative;
  	top: -334px;
  	left: 1450px;
  	text-align: center;
	border-radius: 15px;
	background: #1abc9c;
	color: white;
	padding: 2px;
	width: 120px;
	height: 20px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewTag3
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: relative;
  	top: -358px;
  	left: 1600px;
  	text-align: center;
	border-radius: 15px;
	background: #1abc9c;
	color: white;
	padding: 2px;
	width: 120px;
	height: 20px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewInfo1
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: relative;
  	top: -340px;
  	left: 1300px;
  	text-align: center;
	border-radius: 15px;
	background: #f39d12;
	color: white;
	padding: 2px;
	width: 120px;
	height: 20px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewInfo2
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: relative;
  	top: -364px;
  	left: 1450px;
  	text-align: center;
	border-radius: 15px;
	background: #f39d12;
	color: white;
	padding: 2px;
	width: 120px;
	height: 20px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewInfo3
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: relative;
  	top: -388px;
  	left: 1600px;
  	text-align: center;
	border-radius: 15px;
	background: #f39d12;
	color: white;
	padding: 2px;
	width: 120px;
	height: 20px;
	margin: 0px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.bestReviewLikeImg
{
	position: relative;
	top: -370px;
	left: 1350px;
	width: 40px;
	height: 40px;
}

.bestReviewLike
{
	font-family: 'Outfit', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: relative;
  	top: -407px;
  	left: 1400px;
  	text-align: center;
	color: black;
	width: 100px;
	margin: 0px;
}

.bestReviewDislikeImg
{
	position: relative;
	top: -444px;
	left: 1550px;
	width: 40px;
	height: 40px;
}

.bestReviewDislike
{
	font-family: 'Outfit', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: relative;
  	top: -481px;
  	left: 1600px;
  	text-align: center;
	color: black;
	width: 100px;
	margin: 0px;
}

#previousPage
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: relative;
	top: 50px;
	left: 740px;
	border: none;
	width: 180px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
}

#nextPage
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: relative;
	top: 50px;
	left: 800px;
	border: none;
	width: 180px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
}