@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration-line: none;
	color: inherit;
}

#topBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 15px;
	left: 20px;
	margin : 0px;
	cursor: pointer;
}

#content
{
	background-color: white;
	position: absolute;
	top: 80px;
	width: 1920px;
	height: 857px;
}

#notice
{
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
}

#error
{
	position: absolute;
	top: 350px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
}

#e_mailError
{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
}

#nicknameError
{
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
}

#join
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 21px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: absolute;
	top: 450px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	width: 180px;
	height: 80px;
	border-radius: 10px;
	cursor: pointer;
}

#back
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 21px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: absolute;
	top: 600px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	width: 240px;
	height: 80px;
	border-radius: 10px;
	cursor: pointer;
}