@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

#topBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 15px;
	left: 20px;
	margin: 0px;
	cursor: pointer;
}

#login
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

#nickname
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 160px;
	margin: 0px;
	text-align: right;
}

#logout
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}


#content
{
	background-color: white;
	position: absolute;
	top: 80px;
	width: 1920px;
	height: 857px;
}