@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

#topBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 15px;
	left: 20px;
	margin: 0px;
	cursor: pointer;
}

#login
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

.profilePicture
{
	position: absolute;
	top: 10px;
	right: 160px;
	width: 60px;
	height: 60px;
	margin: 0px;
	border-radius: 30px;
}

.topTier
{
	position: absolute;
	top: 10px;
	right: 240px;
	width: 60px;
	height: 60px;
	margin: 0px;
}

#nickname
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 320px;
	margin: 0px;
	height: 80px;
	text-align: right;
	cursor: pointer;
}

#logout
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

#topMenu
{
	position: absolute;
	top: 80px;
	background-color: #dcdcdc;
	width: 1920px;
	height: 200px;
	z-index: 10;
}

#myProfile
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 0px;
  	right: 75px;
  	border-radius: 30px;
}

#myReview
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 50px;
  	right: 75px;
  	cursor: pointer;
}

#setting
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 100px;
  	right: 75px;
  	cursor: pointer;
}

#notification
{
  	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 50px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#classify
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 400px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#leaderboard
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 750px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#QnA
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 1100px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#write
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 1450px;
  	text-align: center;
	border-radius: 15px;
	background: #8080ff;
	color: white;
	padding: 2px;
	width: 400px;
	height: 20px;  
}

#content
{
	background-color: white;
	position: absolute;
	top: 160px;
	width: 1920px;
	height: auto;
}

#introductionNotice
{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}

#introduction
{
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: white;
	color: black;
	position: absolute;
	width: 800px;
	height: 240px;
	background-color: transparent;
	white-space: normal;
	overflow-y: scroll;
	resize: none;
}

#introductionLength
{
	position: absolute;
	top: 340px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-align: center;
}

#introductionSubmit
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	width: 180px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
}

#pictureNotice
{
	position: absolute;
	top: 550px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}

#image
{
	position: absolute;
	top: 800px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}

#imagePreview
{
	position: absolute;
	top: 650px;
	left: 75%;
	transform: translate(-50%, 0);
	width: 300px;
	height: 300px;
	border-radius: 150px;
}

#pictureSubmit
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: absolute;
	top: 950px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	width: 180px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
}

#passwordNotice
{
	position: absolute;
	top: 1150px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}

.joinInfo
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: white;
	color: black;
	position: absolute;
	width: 400px;
	height: 60px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
}

#userOriginalPwd
{
	top: 1250px;
	left: 50%;
	transform: translate(-50%, 0);
}

#userPwd
{
	top: 1350px;
	left: 50%;
	transform: translate(-50%, 0);
}

#userPwdCheck
{
	top: 1450px;
	left: 50%;
	transform: translate(-50%, 0);
}

.warning
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: red;
	position: absolute;
}

#noOriginalPwd
{
	top: 1235px;
	left: 75%;
	transform: translate(-50%, 0);
}

#noPwd
{
	top: 1335px;
	left: 75%;
	transform: translate(-50%, 0);
}

#invalidPwd
{
	top: 1335px;
	left: 75%;
	transform: translate(-50%, 0);
}

#noPwdCheck
{
	top: 1435px;
	left: 75%;
	transform: translate(-50%, 0);
}

#invalidPwdCheck
{
	top: 1435px;
	left: 75%;
	transform: translate(-50%, 0);
}

#passwordSubmit
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: absolute;
	top: 1600px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	width: 180px;
	height: 60px;
	border-radius: 10px;
	cursor: pointer;
}

#bottom
{
	background-color: white;
	position: absolute;
	top: 1900px;
	width: 1920px;
	height: 100px;
}