@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration-line: none;
	color: inherit;
}

#topBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 15px;
	left: 20px;
	margin : 0px;
	cursor: pointer;
}

#login
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

.profilePicture
{
	position: absolute;
	top: 10px;
	right: 160px;
	width: 60px;
	height: 60px;
	margin: 0px;
}

.topTier
{
	position: absolute;
	top: 10px;
	right: 240px;
	width: 60px;
	height: 60px;
	margin: 0px;
}

#nickname
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 320px;
	margin: 0px;
	height: 80px;
	text-align: right;
	cursor: pointer;
}

#logout
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

#topMenu
{
	position: absolute;
	top: 80px;
	background-color: #dcdcdc;
	width: 1920px;
	height: 200px;
	z-index: 10;
}

#myProfile
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 0px;
  	right: 75px;
  	cursor: pointer;
}

#myReview
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 50px;
  	right: 75px;
  	cursor: pointer;
}

#setting
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 24px;
	font-weight: 900;
  	position: absolute;
  	top: 100px;
  	right: 75px;
  	cursor: pointer;
}

#content
{
	background-color: white;
	position: absolute;
	top: 80px;
	width: 1920px;
	height: 857px;
}

#notice
{
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
}

#error
{
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
}

#back
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 21px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	width: 240px;
	height: 80px;
	border-radius: 10px;
	cursor: pointer;
}