@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration-line: none;
}

#topBar
{
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	position:absolute;
	font-size: 40px;
	color: white;
	top: 15px;
	left: 20px;
	margin : 0px;
}

#content
{
	background-color: white;
	top: 80px;
	width: 1920px;
	height: 857px;
}

#notification {
  	font-family: 'Outfit', sans-serif;
  	position:relative;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color : white;
	padding: 2px;
	width: 300px;
	height: 20px;  
	float:left;
	margin-left: 10px;
	margin-top: 5px;
}

#classify {
	font-family: 'Outfit', sans-serif;
	position:relative; 
	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color : white;
	padding: 2px; 
	width: 300px;
	height: 20px;
	float:left;
	margin-left: 50px;
	margin-top: 5px;
}

#leaderboard {
	font-family: 'Outfit', sans-serif;
	position:relative;
	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color : white;
	padding: 2px; 
	width: 300px;
	height: 20px;
	float:left;
	margin-left: 50px;
	margin-top: 5px;
}

#QnA {
	font-family: 'Outfit', sans-serif;
	position:relative;
	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color : white;
	padding: 2px; 
	width: 300px;
	height: 20px;
	float:left; 
	margin-left: 50px;
	margin-top: 5px;
}
#write{
	font-family: 'Outfit', sans-serif;
	position:relative;
	text-align: center;
	border-radius: 15px;
	background: #8080ff;
	color : white;
	padding: 2px; 
	width: 400px;
	height: 20px;
	float:left; 
	margin-left: 50px;
	margin-top: 5px;
}