@charset "UTF-8";

html
{
	margin: 0px;
}

body
{
	white-space : nowrap;
	margin: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

::placeholder
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

#topBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 80px;
	background-color: #c03a2b;
	margin: 0px;
}

#title
{
	font-family: 'Outfit', sans-serif;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 15px;
	left: 20px;
	margin: 0px;
	cursor: pointer;
}

#login
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

#nickname
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 160px;
	margin: 0px;
	text-align: right;
}

#logout
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: white;
	position: absolute;
	top: 23px;
	right: 40px;
	margin: 0px;
	cursor: pointer;
}

#topMenu
{
	position: absolute;
	top: 80px;
	background-color: #dcdcdc;
	width: 1920px;
	height: 320px;
}

#notification
{
  	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 50px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#classify
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 400px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#leaderboard
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 750px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#QnA
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 1100px;
  	text-align: center;
	border-radius: 15px;
	background: #c03a2b;
	color: white;
	padding: 2px;
	width: 300px;
	height: 20px;  
}

#write
{
	font-family: 'Noto Sans KR', sans-serif;
  	font-size: 12px;
	font-weight: 400;
  	position: absolute;
  	top: 100px;
  	left: 1450px;
  	text-align: center;
	border-radius: 15px;
	background: #8080ff;
	color: white;
	padding: 2px;
	width: 400px;
	height: 20px;  
}

#content
{
	background-color: white;
	position: absolute;
	top: 160px;
	width: 1920px;
	height: auto;
}

input
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: 400;
	background-color: white;
	color: black;
	width: 300px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
}

textarea
{
	resize: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 400;
}

#fromArea
{

}
#tagArea
{
	
}

.categoryText
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 900;
}

#main_categoryText
{
	position: absolute;
	top: 25px;
	left: 15%;
	transform: translate(-50%, 0);
}

#main_category
{
	position: absolute;
	top: 50px;
	left: 30%;
	transform: translate(-50%, 0);
}

#newMain
{
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%, 0);
}

#subcategoryText
{
	position: absolute;
	top: 75px;
	left: 15%;
	transform: translate(-50%, 0);
}


#subcategory
{
	position: absolute;
	top: 100px;
	left: 30%;
	transform: translate(-50%, 0);
}

#newSub
{
	position: absolute;
	top: 90px;
	left: 50%;
	transform: translate(-50%, 0);
}

#productText
{
	position: absolute;
	top: 125px;
	left: 15%;
	transform: translate(-50%, 0);
}

#product
{
	position: absolute;
	top: 150px;
	left: 30%;
	transform: translate(-50%, 0);
}

#newProduct
{
	position: absolute;
	top: 140px;
	left: 50%;
	transform: translate(-50%, 0);
}

#titleText
{
	position: absolute;
	top: 200px;
	left: 15%;
	transform: translate(-50%, 0);
}

#title2
{
	position: absolute;
	top: 220px;
	left: 35%;
	width: 500px;
	transform: translate(-50%, 0);
}

#scoreText
{
	font-family: 'Outfit', sans-serif;
	font-size: 28px;
	font-weight: 900;
	position: absolute;
	top: 280px;
	left: 15%;
	transform: translate(-50%, 0);
}

#avgScore
{
	position: absolute;
	top: 300px;
	left: 35%;
	transform: translate(-50%, 0);
}

#reviewContent
{
	position: absolute;
	top: 450px;
	left: 35%;
	width: 1000px;
	height: 750px;
	border: 2px solid black;
	transform: translate(-50%, 0);
}

#image
{
	position: absolute;
	top: 350px;
	left: 80%;
	width: 600px;
	height: 60px;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 28px;
	font-weight: 900;
	text-align: center;
}

#imagePreview
{
	position: absolute;
	top: 0px;
	left: 80%;
	transform: translate(-50%, 0);
	width: 600px;
	height: 300px;
}

#tagDeleteNotice
{
	position: absolute;
	top: 460px;
	left: 80%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

#inputTag
{
	position: absolute;
	top: 550px;
	left: 75%;
	transform: translate(-50%, 0);
}

#addTag
{
	position: absolute;
	top: 550px;
	left: 90%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	border: none;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.tagDesign
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	position: relative;
	top: 600px;
	left: 80%;
	width: 300px;
	text-align: center;
	background: #1abc9c;
	color: white;
	padding: 2px;
	transform: translate(-50%, 0);
	margin-bottom: 10px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

#inputInfo1
{
	position: relative;
	top: 700px;
	left: 72.5%;
	width: 200px;
	transform: translate(-50%, 0);
}

#inputInfo2
{
	position: relative;
	top: 700px;
	left: 75%;
	width: 200px;
	transform: translate(-50%, 0);
}

#inputInfo1::placeholder
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

#inputInfo2::placeholder
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

#addInfo
{
	position: relative;
	top: 670px;
	left: 95%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	border: none;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

span
{
	display: inline-block;
}

.info1Design
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	position: relative;
	top: 750px;
	left: 72.5%;
	width: 200px;
	transform: translate(-50%, 0);
	text-align: center;
	background: #f39d12;
	color: white;
	padding: 2px;
	margin-bottom: 10px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

.info2Design
{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	position: relative;
	top: 750px;
	left: 75%;
	width: 200px;
	transform: translate(-50%, 0);
	text-align: center;
	background: #bee5ff;
	color: black;
	padding: 2px;
	margin-bottom: 10px;
	white-space: normal;
 	text-overflow: ellipsis;
 	overflow: hidden;
}

#submit
{
	position: absolute;
	top: 1500px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 900;
	background-color: deepskyblue;
	color: white;
	border: none;
	width: 160px;
	height: 60px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

#blank
{
	position: absolute;
	top: 1650px;
	width: 100px;
	height: 100px;
}